.header {
	background: #fff;
	&__inner {
		display: flex;
		align-items: center;
		min-height: 72px;
	}
	&__logo-max {
		flex: 0 0 auto;
	}
	&__logo-min {
		flex: 0 0 auto;
		display: none;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 auto;
	&__link {
		padding: 5px;
		margin-left: 1.5em;
	}
}

.nav__link {
	color: #18191F;
	font-size: 14px;
	font-weight: 700;
	line-height: 143%;

	transition: color ease .5s;
	&:hover {
		color: #183181;
	}
}

.btn {
	border-radius: 8px;
	&:hover {
		color: #fff;
	}
}


@media screen and(max-width: 900px){
	.nav {
		&__link {
			margin-left: 0;
		}
	}
}

@media screen and(max-width: 768px){
	.header {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
		max-width: 100%;

		box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
		&__inner {
			min-height: 50px;
		}
		&__logo-max {
			display: none;
		}
		&__logo-min {
			display: block;
		}
		.btn {
			font-size: 12px;
    		font-weight: 500;
    		letter-spacing: 0.5px;

			padding: 8px 10px;
			margin-left: auto;
			margin-right: 45px;
		}
	}
	.nav {
		display: none;
	}
	.nav__link {
		font-size: 22px;
	}
	.hamburger-menu {
		display: block;
	}
}