@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@import "__header.scss";
@import "__footer.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	font-family: 'Manrope', sans-serif;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px; 
}

.text {
	color: #18191F;
	font-size: 18px;
	line-height: 178%;
}

.section-title {
	color: #18191F;
	font-size: 48px;
	line-height: 133%;
	font-weight: 800;
}

.section-title3 {
	color: #18191F;
	font-size: 40px;
	line-height: 135%;
	font-weight: 800;
}
.item-title {
	color: #18191F;
	font-size: 28px;
	line-height: 143%;
	font-weight: 800;
}

.text-normal {
	font-weight: 400;
}

.btn {
	color: #fff;
	background: #183181;

	padding: 10px 13px;
	// border-radius: 8px;

	transition: background ease .5s;
	&:hover {
		background: #102158;
	}
}

.link-arrow {
	font-size: 20px;
	line-height: 150%;
	font-weight: bold;
	&::after {
		content: '';
		display: inline-block;
		width: 24px;
		height: 15px;
		background: url('../img/arrow.svg') center/cover no-repeat;

		margin-left: 10px;

		position: relative;
		bottom: -1px;
	}
	&:hover::after {
		left: 20px;
	}
}




// Intro
.intro {
	display: flex;
	align-items: center;

	background: url('../img/intro-bg.jpg') right no-repeat, linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);

	min-height: 794px;
	&__inner {
		max-width: 490px;
	}
	&__title {
		font-size: 72px;
		line-height: 136%;
		font-weight: 800;

		margin-bottom: 16px;
	}
	.text {
		margin-bottom: 32px;
	}
	&__row {
		display: flex;
		align-items: center;
	}
	&__row--wrap {
		display: flex;
		align-items: center;
		&::before {
			content: "";
			display: block;
			width: 80px;
			height: 2px;
			background: #18191F;
			margin: 0 8px;
		}
	}
	&__link {
		color: #18191F;
		font-size: 14px;
		line-height: 129%;
		letter-spacing: 2px;
		font-weight: 800;
		text-transform: uppercase;

		transition: transform ease .5s;
		&:hover {
			transform: scale(0.9);
		}
	}
}

// Facts
.facts {
	margin-bottom: 15px;
	&__inner {
		display: flex;
		justify-content: space-between;
		

		min-height: 215px;
		padding: 64px 0;
	}
	&__item {
		max-width: 255px;
	}
	&__number {
		font-size: 48px;
		line-height: 133%;
		font-weight: 800;
	}
	&__text {
		font-size: 16px;
		line-height: 162%;
	}
}

// Build
.build {
	margin-bottom: 90px;
	.section-title {
		margin-bottom: 50px;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(4, minmax(150px, 1fr));
		grid-template-rows: repeat(6, 1fr);
		gap: 20px;

		min-height: 675px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		transition: ease .5s;
		&:hover {
			box-shadow: 3px 3px 5px rgba(24, 25, 31, 0.5);
			transform: scale(95%);

			.build__name {
				opacity: 1;
			}
		}
	}
	&__item--warehouses {
		background: url('../img/build-warehouses.jpg') center/cover no-repeat;
		grid-row: 1/5;
	}
	&__item--chambers {
		background: url('../img/build-chambers.jpg') center/cover no-repeat;
		grid-row: 1/3;
	}
	&__item--logistics {
		background: url('../img/build-logistics.jpg') center/cover no-repeat;
		grid-row: 1/4;
	}
	&__item--premises {
		background: url('../img/buld-premises.jpg') center/cover no-repeat;
		grid-row: 1/3;
	}
	&__item--commercial {
		background: url('../img/build-commercial.jpg') center/cover no-repeat;
		grid-column: 1/2;
		grid-row: 5/7;
	}
	&__item--panels {
		background: url('../img/build-panels.jpg') center/cover no-repeat;
		grid-row: 3/7;
	}
	&__item--constructions {
		background: url('../img/build-constructions.jpg') center/cover no-repeat;
		grid-row: 4/7;
	}
	&__item--reconstruct {
		background: url('../img/build-reconstruct.jpg') center/cover no-repeat;
		grid-row: 3/7;
	}
	&__name {
		color: #fff;
		font-size: 18px;
		font-weight: 500;

		background: #242A78;

		padding: 13px 20px;
		margin-top: auto;

		opacity: 0;
		transition: ease .5s;
	}
}

@media screen and (max-width: 1024px) {
	.build {
		&__inner {
			gap: 15px;
			min-height: 520px;
		}
		&__name {
			font-size: 14px;
			padding: 10px;
		}
	}
}

// Estimate 
.estimate {
	display: flex;
	&__item {
		width: 100%;
		max-width: 50%;

		min-height: 625px;
		padding: 50px 20px;
	}
	&__item--ready {
		background: linear-gradient(to top, rgba(24, 25, 31, .5), rgba(24, 25, 31, .7)), url('../img/estimate-ready.jpg') bottom/cover no-repeat;
	}
	&__item--fast {
		background: linear-gradient(to top, rgba(24, 25, 31, .5), rgba(24, 25, 31, .7)), url('../img/estimate-fast.jpg') center/cover no-repeat;
	}
	.section-title {
		color: #fff;

		margin-bottom: 25px;
	}
	.text {
		color: #fff;
	}
	
}

@media screen and (max-width: 1024px) {
	.estimate {
		flex-direction: column;
		&__item {
			max-width: 100%;
			min-height: 450px;
		}
	}
}

// Projects 
.projects {
	padding: 80px 0;
	.section-title {
		margin-bottom: 50px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		border-bottom: 2px solid #F4F5F7;

		width: 100%;
		max-width: calc((100% - 110px) / 2);
		min-width: 290px;
		padding-bottom: 35px;
		margin-bottom: 80px;
	}
	.item-title {
		flex: 1 1 auto;

		min-height: 80px;
		margin-bottom: 15px;
	}
	&__img {
		flex: 1 1 auto;
		border-radius: 8px;

		max-width: 100%;
		max-height: 375px;
		height: auto;
		margin-bottom: 35px;
	}
	&__date {
		font-size: 14px;
		line-height: 129%;
		font-weight: 800;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.btn {
		border-radius: 100px;
	}
	&__btn {
		text-align: right;
		margin-left: auto;
	}
	&__all {
		margin: 0 auto;
	}
}

// About 
.about {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__block-info {
		max-width: 40%;
	}
	&__subtitle {
		color: #183181;
		font-size: 14px;
		line-height: 129%;
		font-weight: 800;
		letter-spacing: 2px;
		text-transform: uppercase;

		margin-bottom: 8px;
	}
	.section-title3 {
		margin-bottom: 30px;
	}
	.text {
		margin-bottom: 30px;
	}
	&__link {
		color: #183181;
	}
}

// Commercial
.commercial {
	padding: 200px 0;
	&__inner {
		background: #408EC7;
		border-radius: 16px;

		min-height: 399px;

		padding: 40px 48px;

		position: relative;
	}
	.section-title3,
	.text,
	&__link {
		color: #fff;
	}
	.section-title3 {
		max-width: 624px;
		margin-bottom: 32px;
	}
	.text {
		max-width: 444px;
		margin-bottom: 35px;
	}
	.link-arrow {
		font-size: 30px;
		line-height: 100%;
		&::after {
			width: 33px;
			height: 21px;
			background: url('../img/arrow-white.svg') center/cover no-repeat;

			bottom: -2px;
		}
	}
	&__img {
		position: absolute;
		right: 110px;
		transform: translate(0, -75%);
	}
	&__img--screen {
		right: 130px;
		transform: translate(0, -77%);
	}
}

// Gallery
.gallery {
	padding: 80px 0;
	.section-title3 {
		margin-bottom: 48px;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, minmax(290px, 1fr));
		grid-template-rows: repeat(2, minmax(350px, 1fr));
		gap: 30px;
	}
	&__img:nth-child(1) {
		background: url('../img/gallery-img1.jpg') center/cover no-repeat;
	}
	&__img:nth-child(2) {
		background: url('../img/gallery-img2.jpg') center/cover no-repeat;
	}
	&__img:nth-child(3) {
		background: url('../img/gallery-img3.jpg') center/cover no-repeat;
	}
	&__img:nth-child(4) {
		background: url('../img/gallery-img4.jpg') center/cover no-repeat;
	}
	&__img:nth-child(5) {
		background: url('../img/gallery-img5.jpg') center/cover no-repeat;
	}
	&__img:nth-child(6) {
		background: url('../img/gallery-img6.jpg') center/cover no-repeat;
	}
}

// Trust 
.trust {
	background:#F4F5F7;

	padding: 60px 0;
	.section-title,
	.text {
		text-align: center;
	}
	.section-title {
		margin-bottom: 8px;
	}
	.text {
		margin-bottom: 45px;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(5, minmax(100px, 1fr));
		grid-template-rows: repeat(6, 1fr);
		gap: 24px;

		max-width: 946px;
		min-height: 336px;

		margin: 0 auto;
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;

		background: #fff;
		border-radius: 16px;
		&:nth-child(1) {
			grid-column: 1/2;
			grid-row: 3/5;
		}
		&:nth-child(2) {
			grid-column: 2/3;
			grid-row: 2/4;
		}
		&:nth-child(3) {
			grid-column: 2/3;
			grid-row: 4/6;
		}
		&:nth-child(4) {
			grid-column: 3/4;
			grid-row: 1/3;
		}
		&:nth-child(5) {
			grid-column: 3/4;
			grid-row: 3/5;
		}
		&:nth-child(6) {
			grid-column: 3/4;
			grid-row: 5/7;
		}
		&:nth-child(7) {
			grid-column: 4/5;
			grid-row: 2/4;
		}
		&:nth-child(8) {
			grid-column: 4/5;
			grid-row: 4/6;
		}
		&:nth-child(9) {
			grid-column: 5/6;
			grid-row: 3/5;
		}
	}
}

@media screen and(max-width: 890px){
	.facts {
		&__inner {
			flex-wrap: wrap;
			padding: 64px 0 39px;
		}
		&__item {
			text-align: center;
			
			width: 100%;
			max-width: 48%;
			margin-bottom: 25px;
			&:nth-child(odd) {
				margin-right: 5px;
			}
			&:nth-child(even) {
				margin-left: 5px;
			}
		}
	}
}

@media screen and(max-width: 768px){
	.intro {
		background-position-x: 70px;
		&__inner {
			max-width: 400px;
		}
	}
	
}

@media screen and(max-width: 480px){
	.intro {
		background-position-x: -60px;
		min-height: 600px;
		&__title {
			font-size: 54px;
		}
	}
	.facts {
		&__number {
			font-size: 42px;
		}
	}
}